{% load static %}

  	<link rel="stylesheet" type="text/css" href="{% static 'css/custom1.css' %}">


<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form action="login" method="post">
              {% csrf_token %}
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" name='username' class="login__input" placeholder="User name">
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" name='password' class="login__input" placeholder="Password">
				</div>
				<button class="button login__submit">
					<span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>
				{% if messages %}
  					{% for message in messages %}<br>
    					<div class="alert alert-{{ message.tags }}" style="background-color: yellow; padding: 20px; border-radius: 10px; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); margin-bottom: 20px;">
     						 <p style="font-size: 18px; text-align: center; color: #333;">{{ message }}</p>
						</div>
  				    {% endfor %}
				{% endif %}
			</form>
			<div class="social-login">
				<h3>Bhum</h3>
				<div class="social-icons">
					<a href="#" class="social-login__icon fab fa-instagram"></a>
					<a href="#" class="social-login__icon fab fa-facebook"></a>
					<a href="#" class="social-login__icon fab fa-twitter"></a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>
	</div>
</div>
